.story-card-container {
  /* min-height: fit-content; */
  /* min-height: -moz-fit-content; */
  width: 29%;
  height: 315px;
  max-width: 335px;
  background: #ffffff;
  box-shadow: 2px 5px 24px rgba(175, 176, 198, 0.297886);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-card-container .articlePic {
  width: 92.3%;
  max-height: 162px;

  border-radius: 15px;
  object-fit: cover;
  margin: 0.75em auto;
}

.story-card-container .story-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;

  letter-spacing: -0.105px;
  margin: 0 0.6em;
  color: #000000;
}

.web-homepage-story-title {
  display: block;
}

.mobile-homepage-story-title {
  display: none;
}
.story-card-container .story-body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1em;
  /* or 107% */

  letter-spacing: -0.0816667px;
  margin: 0.95em 0.95em 0.75em 0.95em;
  color: #9f9f9f;
}

.story-card-container .story-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1em;
  /* identical to box height */

  letter-spacing: -0.07px;
  margin: 0 1.2em 1.75em 1.25em;
  color: #9f9f9f;
  /* align-items: center; */
}

.story-card-container .story-details .story-writer-details {
  display: flex;
  flex-direction: row;
}

.story-card-container .story-details .reading-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .story-card-container {
    width: 85.7%;
    min-width: 229px;
    min-height: 256px;
    height: 315px;
    max-width: 250px;
  }

  .story-card-container .articlePic {
    max-height: 132px;
    height: 51.56%;
  }

  .story-card-container .story-title {
    font-size: 0.95rem;
    line-height: 1rem;
  }

  .story-card-container .story-body {
    font-size: 0.75rem;
    line-height: 0.7rem;
  }
  .story-card-container .story-details {
    font-size: 0.56rem;
    line-height: 1.1em;
  }
  .web-homepage-story-title {
    display: none;
  }

  .mobile-homepage-story-title {
    display: inline;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .story-card-container {
    width: 70%;
    min-width: 229px;
    min-height: 256px;
    height: 315px;
    max-width: 300px;
  }
  .web-homepage-story-title {
    display: none;
  }

  .mobile-homepage-story-title {
    display: inline;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .story-card-container {
    width: 45%;
    min-width: 229px;
    max-width: 337px;
    height: 315px;
  }
  .web-homepage-story-title {
    display: none;
  }

  .mobile-homepage-story-title {
    display: block;
  }
}
