.onboarding-track {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 3rem;
  box-shadow: -10px 0px 3px rgba(0, 0, 0, 0.2);
  /*font-family: Poppins;*/
  color: #636363;
  font-size: 14px;
}

.onboarding-track-internal {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.track-checkpoint {
  display: flex;
  justify-content: center;
  width: 120px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  /* background-color: red; */
}

.tick {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2em;
  /* margin-right: 2px; */
}
