body{
    background: #F2F2F2;

}

@media (max-width: 768px) {
    #homepage-navbar {
        display: none;
    }
}

@media (min-width: 769px) {
    #mobile-navbar {
        display: none;
    }

    #logo-separator{
        display: none;
    }
}