.mobile-writer-details-container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 85%;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 11px;
}

.mobile-writer-details-container .writer-details-div {
  display: flex;
  flex-direction: row;
}

.mobile-writer-details-container .writer-details-div .writer-img {
  height: 39px;
  width: 39px;
  object-fit: cover;
  border-radius: 50%;
  outline: 3px solid #3bacfc;
  outline-offset: -6px;
}

.mobile-writer-details-container .writer-details-div .writer-details-text {
  margin-left: 10px;
}

.mobile-writer-details-container .writer-details-div .writer-details-text h4 {
  margin: 0;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #1a1a1a;
}

.mobile-writer-details-container
  .writer-details-div
  .writer-details-text
  .article-detail {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #757575;
}
.mobile-writer-details-container .follow-buttons .mobile-follow-button {
  background: linear-gradient(128.16deg, #2b56ff 0%, #1395fd 90.57%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.0583333px;

  color: #ffffff;
  cursor: pointer;
  padding: 7px 20px;

  border: none;
}

.mobile-writer-details-container .follow-buttons .mobile-follow-button:focus {
  border: none;
}

.web-social-interaction {
  display: none;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .web-social-interaction {
    display: inline;
  }
  .mobile-social-interaction-div {
    display: none;
  }
  .mobile-writer-details-container {
    width: 85%;
    max-width: 700px;
    height: 96px;
    box-sizing: border-box;
    margin-top: -1rem;
  }
}

@media (min-width: 768px) {
  .web-social-interaction {
    display: inline;
  }
  .mobile-writer-details-container {
    width: 100%;
    height: 96px;
    box-sizing: border-box;
    margin-top: -1rem;
  }
}
