.user-stories-nav{
    display: flex;    height: 60px;
    align-items: center;
    justify-content: space-around;
}
.user-stories-nav-items{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

letter-spacing: -0.0583333px;
}
.blue-line-container{
    background: #1395FD;
    border-radius: 0px 0px 4px 4px;
    height: 5px;
    position: relative;
    top: 6px;
}
.stories-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;    margin: 5px 10px;
}
.active-stories-class{
    color: #1395FD;
}
.story-user-list{
    overflow: hidden;
}