.user-stories-nav{
    display: flex;    height: 60px;
    align-items: center;
    width: 100%;

    justify-content: space-around;
}
.user-stories-nav-items{
    cursor: pointer;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

letter-spacing: -0.0583333px;
}
.blue-line-container{
    background: #1395FD;
    border-radius: 0px 0px 4px 4px;
    height: 5px;
    position: relative;
    top: 6px;
}
.stories-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;   margin: 2rem 10px;
}
.active-stories-class{
    color: #1395FD;
}
.story-user-list{
    overflow: hidden;
}






@media (max-width: 480px) {
    .user-stories-nav-items{
        font-size: 10px;
    }
    .user-stories-nav{
        height: 38px;

    }
    #index-navbar {
        display: block;
      }
    .funders-sec-resp{
        top:0;width:70%;
    }
    .blue-line-container{
        top:5px;
    }
    .data{
        
    /* width: 24rem; */

    }
}

@media (min-width: 481px) and (max-width: 768px) {  .user-stories-nav-items{
    font-size: 15px;
    /* width: 42rem;
    height: 26rem; */

 }
 /* #index-navbar {
    display: block;
  } */
    .blue-line-container{
        top: 10px;
    }}

@media (min-width: 769px) and (max-width: 1200px) {
    .user-stories-nav-items{
        font-size: 15px;
        /* width: 42rem;
        height: 26rem; */
    
     }
     /* #index-navbar {
        display: block;
      } */
        .blue-line-container{
            top: 10px;
        }
}