.user-info {
  width: 50rem;
  height: 27rem;
  background: #ffffff;
  border-radius: 30px;
  margin-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 34px;
  margin-left: 29px;
}
.user-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info-img img {
  width: 140.98px;
  height: 138px;
  border: 10px solid white;
  border-radius: 50%;
}
.user-info-img {
  display: flex;
  position: relative;
  bottom: 4rem;
  padding: 0px 3rem;
  justify-content: space-between;
  align-items: center;
}
.follow {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #ffffff;
  background: linear-gradient(180deg, #1395fd 0%, #2b56ff 150%);
  border-radius: 10px;
  width: 200px;
  border: 0px solid #ffffff;

  height: 48px;
}

.message {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: -0.0583333px;
  width: 200px;
  height: 48px;
  color: #000000;
}

.moreinfo {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  font-weight: bold;
  font-size: 30px;
}
.buttons-follow {
  width: 67%;
  display: flex;
  position: relative;

  top: 25px;


  justify-content: space-around;
  align-items: center;
}

.user-info-name h3 {
  font-family: "Poppins";
  font-style: normal;
  margin: 0 28px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.user-info-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  bottom: 3rem;

  margin: 1px 23px;
}
.socials {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-links {
  display: flex;
  align-items: center;
  /* align-self: self-end; */
  width: 65%;
  justify-content: space-around;
}
.website {
  display: flex;
  justify-content: space-around;
  width: 57%;
}
.discription {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.0583333px;

  color: #000000;
}
.discription,
.join-date {
  margin: 0;
}
.writer-para {
  background: #424242;
  border-radius: 5px;
  padding: 4px 10px;
  color: white;
}
.join-date {
  margin: 10px 0;
}
.funders-username .username {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #757575;
}

.top-funders {
  background: #f5f5c2;
  border-radius: 19.4729px 0px 0px 19.4729px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  padding: 5px 13px;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;
  letter-spacing: -0.0567959px;
  border: 0;
  color: #000000;
}

.top-funders span {
  border-radius: 36.9985px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height */
  position: relative;
  left: 15px;
  padding: 7px;
  text-align: right;
  letter-spacing: -0.0567959px;

  color: #000000;
  background: linear-gradient(180deg, #ffd000 0%, #ffb800 100%);
}

.funders-username {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 1rem;
}

.first-funder {
  background: #dcf3e2;
  border-radius: 19.4729px 0px 0px 19.4729px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  padding: 5px 13px;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;
  letter-spacing: -0.0567959px;
  border: 0;
  color: #000000;
}
.first-funder span {
  background: linear-gradient(180deg, #59c995 0%, #59c978 100%);
  border-radius: 36.9985px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  /* identical to box height */
  position: relative;
  left: 15px;
  padding: 7px;
  text-align: right;
  letter-spacing: -0.0567959px;

  color: #000000;
}

.followers-all {
  margin-top: -20px;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: space-around;
}
.followers-all p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #000000;
}
.users-followers-info-bar {
  width: 23rem;
  height: 27rem;
  margin-top: 10rem;
  margin-left: 52px;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
}

.followers-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.followers-nav p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #757575;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.followers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.followers-list-item {
  display: flex;
  width: 86%;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.open-favorites {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 56px 24px 24px;
  width: 208px;
  height: 212px;
  position: absolute;
  left: 737px;
  top: 64px;
}
.website p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.0583333px;

  color: #1395fd;
}
.favorites-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.105151px;

  color: #000000;
}
.share-profile-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.105151px;

  color: #000000;
}
.block-btn,
.report-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.105151px;

  color: #eb4335;
}
.funders-sec {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

@media (max-width: 1258px) and (min-width: 641px) {
  .user-info {
    width: 38rem;
    height: 28rem;
  }
  .funders-username {
    width: 100%;
  }
  .user-info {
    width: 88vw;
    min-width: 38rem;
    margin-bottom: 0;
  }
  .follow,
  .message {
    width: 29%;
    height: 45px;
    min-width: 106px;
  }
  .moreinfo {
    width: 40px;
    height: 40px;
  }
  .data {
    width: 88vw;
  }
  .user-row {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .users-followers-info-bar {
    min-width: 22rem;
  }
  .writer-para {
    display: none;
  }
  .follow {
    height: 32px;
    width: 76px;
    font-size: 12px;
  }
  .user-info-bar{
    margin: 0 18px;
  }
  .followers-all p{
    font-size: 13px;
  }
  .first-funder{
    position: relative;
   font-size: 10px;height: 25px;
    padding: 1px;width: 98px;
  }.top-funders span{
    left: 29px;
    bottom: 22px;
  }.website{
    position: relative;
    left: 71px;
  }
 
  .message {
    height: 32px;
    width: 76px;
    font-size: 12px;
  }
  .moreinfo {
    height: 32px;
    width: 34px;
    font-size: 12px;
  }
  .user-info {
    margin-left: 0;
    min-width: 27rem;
    height: 32rem;
    width: 25rem;
  }
  .top-funders {
    padding: 1px 3px;
    width: 75px;
    height: 25px;
    padding: 1px;
    position: relative;
    right: 30px;
    font-size: 10px;
  }
  .users-followers-info-bar {
    min-width: 17rem;
  }
  .top-funders span.first-funder span {
    padding: 0;
  }
  
  .discription {
    font-size: 14px;
    margin: 20px 0;
  }
  .user-info-img img {
    width: 86.98px;
    height: 86px;
    position: relative;
    right: 26px;
    top: 24px;
  }
  .user-info-name h3{
    font-size: 23px;
  }
  .funders-username .username{
    font-size: 15px;
  }
  .users-followers-info-bar {
    min-width: 27rem;
  }
}
