.set-up-profile-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.set-up-profile-container .set-up-profile-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  margin: 0;
  margin-bottom: 0.9rem;
  color: #373946;
}
.set-up-profile-container .set-up-profile-subtitle {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  text-align: center;

  color: #777983;
}

.set-up-profile-container .user-inputs {
  box-sizing: border-box;
  width: 100%;
  margin-top: 1.4rem;
  margin-bottom: 3rem;
}
.set-up-profile-container .user-inputs label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #777983;
}

.set-up-profile-container .user-inputs label input {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  border: 1px solid #b5b7c2;
  border-radius: 10px;
  padding-left: 1rem;
  margin-top: 4px;
  margin-bottom: 1.2rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #777983;
}

.set-up-profile-container .user-inputs label input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #c4c4c4;
}

.set-up-profile-container .user-inputs label input:focus-visible {
  outline: none;
}
