 .fundcard-container {
    display:inline-block;
    /* margin-left: 30px; */
    height: 384px;
    width: 270px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #FFFFFF;
    background-clip: padding-box;
    /* just to show box-shadow still works fine */
    box-shadow: 0px 0px 41px 4px rgba(214, 230, 255, 0.5);
}

.fundcard-container::after {
    position: absolute;
    top: -1px; bottom: -1px;
    left: -1px; right: -1px;
    background: linear-gradient(#2B56FF, #1395FD);
    content: '';
    z-index: -1;
    border-radius: 30px;
}

.writer-info-section{
    height: 111px;
}

.separator-div{
    height: 1px;
    width: 271px;
    background: linear-gradient(#2B56FF, #1395FD);
    content: '';
    z-index: -1;

}

.writer-pic-div{
    flex-direction: row;
    height: 54px;
    width: 224px;
    padding: 29px 23px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.writer-display-icon{

        width: 40px;
        height: 40px;
    /* margin-top: 8px; */
    border-radius: 50%;
    object-fit: cover;
    outline: 3px solid #3BACFC;
    outline-offset: -6px;
}

.writer-name-span{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    letter-spacing: -0.0583333px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.selected-amount{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-align: right;

}

.amount-buttons-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 21px 21px 21px;
}

.amount-button{
    width: 66px;
    height: 43px;
    
    background: #FFFFFF;
    border: 2px solid #62AFFF;
    box-sizing: border-box;
    border-radius: 35px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    cursor: pointer;
    letter-spacing: -0.105151px;
}

.amount-button:focus{
    background: linear-gradient(128.16deg, #2B56FF 0%, #1395FD 90.57%);
    color: #FFFFFF;
    border: 0;
}

.first-button-row{
    width: 227px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second-button-row{
    width: 145px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.fund-amount-input{
    width: 227px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 10px;
    margin: 21px;
    margin-top: 0;
    font-family: "poppins";
}

/* .fund-amount-input:focus{
    border: 1px solid #BDBDBD;
    outline: none;
} */
.fund-amount-input:focus-visible {
    /* border: 1px solid #BDBDBD; */
    outline: none;
}

.fund-button{
    background: linear-gradient(136.66deg, #2B56FF -9.32%, #1395FD 95.4%);
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.0583333px;

    color: #FFFFFF;

    border-radius: 10px; 
    width: 227px;
    height: 48px;
    border: none;

    font-family: "poppins";
    font-weight: 700;
    margin-left: 21px;

    cursor: pointer;
}

.fund-button:focus{
    outline: none,
    
}