.response-highlight-container{
    margin-left: 369px;
    margin-right: 448px;
}

.response-highlight-header{
    color: #0A2B98;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -0.0947917px;

}