.mobile-story-container {
  width: 100%;
  background-color: #ffffff;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll !important;
}

.mobile-story-container .mobile-article-pic {
  height: 200px;
  width: 100%;
}

.mobile-story-container .mobile-writers-details-div {
  transform: translateY(-55%);
}

.mobile-social-interaction-div {
  width: 85%;
  max-width: 700px;
  /* margin-left: 7.5%; */
  margin: 0 auto;
  gap: 17px;

  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.mobile-social-interaction-div span {
  display: flex;
  align-items: center;
}
.mobile-social-interaction-div .meaningful-span {
  box-sizing: border-box;
  height: 32px;
  border: 1px solid #dddddd;
  border-radius: 22px;
  padding: 4px 12px;

  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-social-interaction-div .meaningful-span span {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  color: #757575;
}

.mobile-social-interaction-div .meaningful-span .mobile-meaningful-separator {
  height: 32px;
  width: 1px;
  background-color: #dddddd;
}

.mobile-social-interaction-div .meaningful-span .meaningful-svg {
  width: 14px;
  height: 19px;
}

.mobile-story-main-content {
  width: 100%;
}

.mobile-story-main-content .mobile-story-headers {
  width: 85%;
  max-width: 700px;
  /* margin-left: 7.5%; */
  margin: 31px auto 19px;
}

.mobile-story-main-content .mobile-story-headers .mobile-story-article-name {
  font-weight: 900;
  font-size: 27px;
  line-height: 32px;
  /* or 119% */

  letter-spacing: -0.145833px;

  color: #1a1a1a;
  margin: 0 0 6px 0;
}

.mobile-story-main-content
  .mobile-story-headers
  .mobile-story-article-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  letter-spacing: -0.105px;

  color: #757575;
  margin: 0;
}

.mobile-story-main-content .mobile-story-body {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.mobile-story-funder-cards {
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
  height: 200px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.mobile-story-bottom {
  width: 90%;
  margin: 0 auto;
}

.mobile-story-confirmFundsCards {
  width: 100%;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 15px;
  margin: 0;
  margin-left: -5%;
}

.mobile-story-modal-enter-pin-div {
  width: 100%;
}

.mobile-story-modal-send-underline {
  width: 100%;
  height: 1px;
  background: #ebebeb;
  margin-top: 15px;
  margin-bottom: 23px;
}

.mobile-story-modal-fund-amount-bold {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 119% */

  color: #3d3d3d;
}

.mobile-story-modal-fund-anyway-button {
  width: 100%;
  background: linear-gradient(128.16deg, #2b56ff 0%, #1395fd 90.57%);
  border-radius: 10px;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.0583333px;

  color: #ffffff;
  border: 0;
  cursor: pointer;

  margin-top: 20px;
}

.mobile-story-modal-add-funds-button {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  letter-spacing: -0.0631711px;

  color: #757575;
  background-color: #ffffff;
  text-align: center;
  border: 0;
  margin-top: -13px;
  cursor: pointer;
}

.mobile-story-modal-fund-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-story-sent-funds-card {
  width: 312px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, 0.25);
  background-image: url("../../Images/Confetti.png");
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 23px;
}

.mobile-story-funding-writer-funder-image-div {
  width: 130px;
  margin: 104px auto 0;
}

.mobile-story-funding-writer-image {
  border-radius: 50%;
  width: 69.85px;
  height: 69.85px;
  border: 3px solid transparent;
}

.mobile-story-funding-funder-image {
  border: 3px solid #ffffff;
  margin-left: -25px;
  border-radius: 50%;
}

.mobile-story-funding-sent-message {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 34px;
  /* identical to box height, or 94% */

  color: #2baf4e;
}

.mobile-story-funding-sent-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-story-funding-sent-text {
  margin: 0 auto;
  width: 90%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #3d3d3d;
}

.mobile-story-funding-sent-share-button {
  background: #2baf4e;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.0583333px;
  box-sizing: border-box;
  color: #ffffff;
  width: 146px;
  padding: 9px 0;
  border: 0;
  margin: 26px auto 40px;
}
@media (min-width: 768px) {
  .mobile-story-container .tabs-social-interaction-div {
    display: none;
  }
}
