.forgot-password-container {
  width: 90%;
  padding-top: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgot-password-container .forgot-password-header {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  margin: 0;
  color: #373946;
}

.forgot-password-container .forgot-password-subtitle {
  width: 80%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #777983;
  margin: 0;
  margin-top: 12px;
}

.forgot-password-container .forgot-password-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-top: 25px;
}

.forgot-password-container .forgot-password-button-container input {
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins";
  width: 100%;
  border-radius: 10px;
  margin-right: 10%;
  height: 3rem;
  padding-left: 20px;
  font-size: 15px;
  line-height: 18px;
  color: #777983;
  border: 1px solid #c4c4c4;
  margin-bottom: 16px;
  outline: none;
}

.forgot-password-container .back-sign-in {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.forgot-password-container .back-sign-in .other-options-svg {
  margin-right: 10px;
}

.forgot-password-container .back-sign-in .other-options-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #1395fd;
}

.password-constraints {
  margin: -8px 0 8px 0;
  color: #b5a3a3;
  font-size: 12px;
}

@media (min-width: 720px) {
  .forgot-password-container {
    margin-top: 5rem;
    box-sizing: border-box;
    max-width: 474px;
    background: #ffffff;
    box-shadow: 0px 0px 70px -35px rgba(27, 115, 232, 0.43);
    border-radius: 32px;
    padding: 47px 80px;
  }
  .forgot-password-container .forgot-password-header {
    margin-top: 6rem;
  }
}
