.article-container {
  display: flex;
  margin-bottom: .5em;
}
.article-img {
  width: 159px;
  height: 96px;
  display: block;
  margin-left: 1em;
  border-radius: 5px;
  flex-grow: 1;
  object-fit: cover;
}
.article-img-div {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}
.manage-btn-div {
  /* display: flex;
  align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 38px;
    /* margin-top: -10px; */
}
.detail-div {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.sub-title {
  color: #636363;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.10682px;
}
.title {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.10682px;

  color: #636363;
}
.button-div {
  display: flex;
  flex-direction: row;
  height: 2.5em;
  width: inherit;
  justify-content: center;
  padding-top: 1em;
}
.manage-btn {
  padding: 0.6em 0.4em 0.6em 0.4em;
  width: 10em;
  max-height: 4em; 
  border: 3px solid rgba(151, 151, 151, 1);
  font-family: PoppinsBold;
  font-size: 1em;
  font-weight: 1000;
  color: rgba(0, 0, 0, 1);
  background-color: white;
  border-radius: 10px;
  margin-right: 1.5em;
}

.delete-icon{
  padding: 5px;
}

.menu-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-right: 10px;
}

.button-container{
  display: flex;
  padding-top: 3em;
  align-items: center;
  justify-content: space-between;

}
.menu-icon{
  margin-right: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: ; */
}

.button-div{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.menu-anchor{
  padding-right: 2em;
}

.modal-box-container{
  padding: 38px;
}
.modal-box:focus-visible{
  outline: none;
}
.modal-header{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */
letter-spacing: -0.105151px;
color: #000000;

}

.alert-container{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding: 9px 13px;
  background: #FFBBBA;
  border-radius: 10px;
}

.alert-story-underline{
  width: 438px;
  height: 0px;
  border: 1px solid #EBEBEB;
  margin-top: 15px;
  margin-bottom: 30px;
}

.alert-svg{
  padding-right: 10px;
  padding-top: 2px;
}

.delete-span{
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.0583333px;
  color: #FFFFFF;
}


.cancel-span{
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.0583333px;
  color: #000000;
}

.cancel-button:hover{
  border: 2px solid #979797;
}

.alert-text{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.0510417px;
}

.disabledButton{
  color: #979797; 
  font-family: "poppins";
  padding-left: -1px;
}

.delete-menu-span{
  font-weight: 500;
  color: black;
}